name: CI Pipeline

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  install-and-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.14
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Ruf ruff check
        run: uv run ruff check .
